/** 
* Things to hide!
**/
#wp-admin-bar-wp-logo,
#wp-admin-bar-comments,
#wp-admin-bar-new-post,
#menu-posts,
#menu-comments,
#wpfooter {
	display: none;
}

/** 
* Custom post type icons.
**/

#toplevel_page_submissions_list_page .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f115';
}

#menu-posts-business .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f0f7';
}

#menu-posts-event .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f073';
}

#menu-posts-contact .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f0c0';
}

#menu-posts-download_group .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f019';
}

#menu-posts-job_vacancy .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f19d';
}

#menu-posts-news_article .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f0ac';
}

#menu-posts-homepage_banner .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f0dc';
       -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
       transform: rotate(90deg);
       filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#menu-posts-initiative .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f05d';
}

#menu-posts-promotion .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f145';
}


#menu-posts-gallery .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f03e';
}

#toplevel_page_reporting-overview .wp-menu-image:before {
       font-family: Fontawesome !important;
       content: '\f080';
}



.reporting-wrap table {
       margin: 20px 0;
}

.reporting-wrap .download {
       float: right;
}