body.login {
	background: #6a6d73;
}

#login {
	width: 440px;
}

.login form {
	background: #9CCB63;
}

.login label {
	color: #fff;
}

.login h1 a {
	background: url(../build/img/basingstoke-together.svg) no-repeat center center;
	width: 300px;
	height: 70px;
	text-align: center;
}

.login #nav, .login #backtoblog {
	padding: 0;
}

.login #nav {
	float: right;
	width: 130px;
	margin: 16px 0 0;
}

.login #nav a, 
.login #backtoblog a{
	color: #fff !important;
	text-shadow: none;
}

.login #nav a:hover, 
.login #backtoblog a:hover{
	color: #fff !important;
}

.login .button.button-large {
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
	color: #fff;
	background: #6a6d73;
	border-color: transparent;
	border-radius: 0;
	text-shadow: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0),0 1px 0 rgba(0,0,0,0);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0),0 1px 0 rgba(0,0,0,0);
}

.login .button.button-large:hover {
	background: #333;
}