<h2>Form submissions</h2>

{% if error %}
    <p><strong>{{ error }}</strong></p>
{% endif %}

<p>Please select a type of form submission to view.</p>

<ul>
    {% for key, list in lists %}
        <li>
            <a href="?page=submissions_list_page&form={{ key }}">{{ list.name }}</a>
        </li>
    {% endfor %}
</ul>
