<h2>Form submissions for {{ form_name }}</h2>

<p>
    <form action="">
        <input type="hidden" name="page" value="submissions_list_page">
        <input type="hidden" name="form" value="{{ form }}">
        <input type="hidden" name="download" value="true">
        <button type="submit" class="button button-primary">Download as CSV</button>
    </form>
</p>

<table class="widefat fixed" cellspacing="0">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
