{% extends "shared/base.twig" %}


{% block content %}

	<div class="dark-bg">

		<div class="wrapper">

			<div class="full-width">
				<a href="/" title="Return to homepage" class="site-logo">
					<img src="{{site.theme.link}}/build/img/basingstoke-together.svg" alt="Logo">
				</a>
			</div>

			<h1>Oops!</h1>
			<h2>The page you are looking <br> for couldn't be found.</h2>
			<p>Please try the following options instead</p>
			<ul>
				<li>
					<a href="{{ urls.sections.home }}" title="Home Page">Go to the site home page &gt; </a>
				</li>
				<li>
					<a href="{{ urls.footer.sitemap }}" title="Site Index">Use our site index &gt; </a>
				</li>
				<li>
					<a href="{{ urls.contact }}" title="Report Broken Link">Report this page as broken &gt; </a>
				</li>
			</ul>

		</div>

	</div>
	
{% endblock %}