
{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="grey-bg">

		<div id="main-content" class="col-container">

			{% if notification_message %}
				<div class="wrapper notification {% if notification_error %}notification-error{% else %}notification-success{% endif %}">
					<p>{{ notification_message }}</p>
				</div>
			{% endif %}

			<div class="has-js-visible">
				<!-- Only Visible on Desktop -->
				<div class="col-heading col-border-bottom large">

					<div class="white-bg row-space">

						<section class="col col-border-right">
							<h2 class="col__title">Promotion</h2>
						</section>

						<section class="col col-border-right">
							<h2 class="col__title">A Voice For Business</h2>
						</section>

						<section class="col col-border-right">
							<h2 class="col__title">A Place For People</h2>
						</section>

						<section class="col">
							<h2 class="col__title">A Place For Business</h2>
						</section>

					</div>

				</div>

				<div class="white-bg row-space js-initiatives">

					<section class="col col-border-right">
						<h2 class="col__title small"><span class="text-em">Promotion</span></h2>

						{% for initiative in initiatives.promotion %}

							<div class="col-box col-left" id="initiative-small-{{ initiative.post_name }}">
								<a href="#initiative-detail-{{ initiative.post_name }}">
									<div class="col-box__title">
										<h3 class="col-box__heading">{{ initiative.title }}</h3>
									</div>
									<img src="{{ initiative.listImage().src('list-square') }}" alt="" class="corners">
								</a>
							</div>

						{% endfor %}

					</section>

					<section class="col col-border-right">
						<h2 class="col__title small"><span class="text-em">A Voice For Business</h2>

						{% for initiative in initiatives.a_voice_for_business %}

							<div class="col-box col-left" id="initiative-small-{{ initiative.post_name }}">
								<a href="#initiative-detail-{{ initiative.post_name }}">
									<div class="col-box__title">
										<h3 class="col-box__heading">{{ initiative.title }}</h3>
									</div>
									<img src="{{ initiative.listImage().src('list-square') }}" alt="" class="corners">
								</a>
							</div>

						{% endfor %}

					</section>

					<section class="col col-border-right">
						<h2 class="col__title small">A Place For People</h2>

						{% for initiative in initiatives.a_place_for_people %}

							<div class="col-box col-left" id="initiative-small-{{ initiative.post_name }}">
								<a href="#initiative-detail-{{ initiative.post_name }}">
									<div class="col-box__title">
										<h3 class="col-box__heading">{{ initiative.title }}</h3>
									</div>
									<img src="{{ initiative.listImage().src('list-square') }}" alt="" class="corners">
								</a>
							</div>

						{% endfor %}

					</section>

					<section class="col">
						<h2 class="col__title small">A Place For Business</h2>

						{% for initiative in initiatives.a_place_for_business %}

							<div class="col-box col-left" id="initiative-small-{{ initiative.post_name }}">
								<a href="#initiative-detail-{{ initiative.post_name }}">
									<div class="col-box__title">
										<h3 class="col-box__heading">{{ initiative.title }}</h3>
									</div>
									<img src="{{ initiative.listImage().src('list-square') }}" alt="" class="corners">
								</a>
							</div>

						{% endfor %}

					</section>

				</div>
			</div>

			<div class="initiative-details-wrapper" id="initiatives_wrapper">
				{% for key, category in initiatives %}

					{% for initiative in category %}

						<div id="initiative-detail-{{ initiative.post_name }}" class="col-detail seperator--generic corners has-js-hide" data-small-col="initiative-small-{{ initiative.post_name }}">

							<a href="#" class="col-detail--close"><i class="fa fa-close" aria-hidden="true"></i></a>						

							<section class="col-detail__content main-content">

								<h3 class="col-detail__content--intro">
									{{ initiative.intro }}
								</h3>

								{{ initiative.get_field('main_content') }}

							</section>

							{% if initiative.aside_text or initiative.button_text or initiative.aside_image %}
								<aside class="col-detail__aside">

									{% if initiative.asideImage() %}
										<img src="{{ initiative.asideImage().src('list-square') }}" alt="" class="col-detail__aside__img">
									{% endif %}

									{% if initiative.aside_text|length > 0 or initiative.button_action == 'email' %}
										<div class="col-detail__aside__info">

											{% if initiative.aside_text %}
												<h4 class="col-detail__aside__title">
													{{ initiative.aside }}
												</h4>
											{% endif %}


											{% if initiative.button_action == 'email' or initiative.button_action == 'link' %}
												<a href="{{ initiative.cta_link(page.link) }}" class="col-detail__aside__link corners action-type-{{ initiative.action_type }} {% if initiative.checked %}col-detail__aside__link_active{% endif %} {% if initiative.action_type == 'link' %}external{% endif %}" data-small-col="initiative-small-{{ initiative.post_name }}">
													<span>{{ initiative.get_field('button_text') }}</span>
												</a>
											{% endif %}

										</div>
									{% endif %}

								</aside>
							{% endif %}

						</div>

					{% endfor %}
				{% endfor %}
			</div>

		</div>

	</div>

{% endblock %}