{% extends "shared/base.twig" %}

{% block content %}

	{% if banners %}

		<div role="banner" id="main-content" class="slider">
			<ul class="slides">
				{% for banner in banners %}
					<li>

						{% if banner.banner_text %}

							<div class="slides__image" style="background-image: url('{{ TimberImage(banner.background_image).src }}');"></div>

							<div class="slides-content__wrap">

								<div class="slides-content">

									<h1 class="slides__title">
										{{ banner.banner_text }}
									</h1>

									{% if banner.call_to_action_text %}
										<div class="slides__button--wrap">
											<a href="{{ banner.link() }}" class="btn-border {% if banner.call_to_action_link_type == 'external' %}external{% endif %}" tabindex="-1">{{ banner.call_to_action_text }}</a>
										</div>
									{% endif %}

								</div>

							</div>

						{% elseif banner.call_to_action_link_type == 'none' %}

							<div class="slides__image" style="background-image: url('{{ TimberImage(banner.background_image).src }}');"></div>

						{% else %}

							<a href="{{ banner.link() }}" class="{% if banner.call_to_action_link_type == 'external' %}external{% endif %}">
								<div class="slides__image" style="background-image: url('{{ TimberImage(banner.background_image).src }}');"></div>
							</a>

						{% endif %}

					</li>
				{% endfor %}
			</ul>

			<ul class="direction-nav">
				<li>
					<button class="direction-nav__link direction-nav__prev" data-direction="prev">
						<img src="{{site.theme.link}}/build/img/arrow-left.svg" alt="Arrow Pointing Left" />
					</button>
				</li>
				<li>
					<button class="direction-nav__link direction-nav__next" href="#" data-direction="next">
						<img src="{{site.theme.link}}/build/img/arrow-right.svg" alt="Arrow Pointing Right" />
					</button>
				</li>
			</ul>

		</div>

	{%  endif %}

	<div class="row spacer--tiny">

		<a href="{{ page.get_field('first_link') }}"class="banner caption caption-spacer spacer--tiny">
			<img src="{{ TimberImage(page.first_image).src('list-square') }}" alt="{{ TimberImage(page.first_image).alt }}" class="corners">
			<div class="caption__hold purple-bg">
				<h2 class="caption__title">{{ page.first_title }}</h2>
				<p class="caption__text">
					{{ page.first_text }}
				</p>
			</div>
		</a>

		{% if latest_news %}
			<a href="{{ latest_news.link }}" class="banner caption-spacer caption">
				<img src="{{ TimberImage(latest_news.list_image).src('list-square') }}" alt="{{ TimberImage(latest_news.list_image).alt }}" class="corners">
				<div class="caption__hold pink-bg">
					<h2 class="caption__title">Latest News</h2>
					<p class="caption__date">
						{{ latest_news.post_date|date('M Y') }}
					</p>
					<p class="caption__text">
						{{ latest_news.list_text }}
					</p>
				</div>
			</a>
		{% endif %}

		{% if latest_event %}
			<a href="{{ latest_event.link }}" class="banner caption caption-spacer spacer--tiny">
				<img src="{{ TimberImage(latest_event.list_image).src('list-square') }}" alt="{{ TimberImage(latest_event.list_image).alt }}" class="corners">
				<div class="caption__hold green-bg">
					<h2 class="caption__title">What's On</h2>
					<p class="caption__date">
						{{ latest_event.start_date|date('M Y') }}
					</p>
					<p class="caption__text">
						{{ latest_event.list_text }}
					</p>
				</div>
			</a>
		{% endif %}

		<a href="{{ page.get_field('second_link') }}"class="banner caption caption-spacer spacer--tiny">
			<img src="{{ TimberImage(page.second_image).src('list-square') }}" alt="{{ TimberImage(page.second_image).alt }}" class="corners">
			<div class="caption__hold light-blue-bg">
				<h2 class="caption__title">{{ page.second_title }}</h2>
				<p class="caption__text">
					{{ page.second_text }}
				</p>
			</div>
		</a>

	</div>

	<div class="featured green-bg">

		<div class="decoration-symbol"></div>

		<div class="featured__hold central">

			<h3 class="featured__text">
				{{ page.featured_title }}
			</h3>

			<p class="featured__copy">
				{{ page.get_field('featured_text') }}
			</p>

			<a href="{{ page.get_field('featured_link') }}" class="btn">{{ page.featured_button_text }}</a>

		</div>

	</div>

{% endblock %}
