{% extends "shared/base.twig" %}

{% block head %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<!-- Main Body -->
	<main role="main" id="main-content">

		<section class="wrapper main-content">
			{{ page.get_field('main_content') }}
		</section>

		<div class="row">

			{% if team_members %}
				{% for team_member in team_members %}

					<div class="banner caption spacer--tiny hover-effect corners">
						<img src="{{ TimberImage(team_member.image).src('list-square') }}" alt="{{ TimberImage(team_member.image).alt }}" class="corners">
						<div class="caption__hold purple-bg hover-effect__inner">
							<h4 class="caption__title hover-effect__title">
								{{ team_member.post_title }} <span class="caption__text">{{ team_member.job_title }}</span>
							</h4>
							<h4 class="caption__title hover-effect__text">
								{% if team_member.phone_number %}
									Call on {{ team_member.phone_number }} or <a href="mailto:{{ team_member.email_address }}">email {{ team_member.forename }}</a>
								{% else %}
									<a href="mailto:{{ team_member.email_address }}">Email {{ team_member.forename }}</a>
								{% endif %}
							</h4>
						</div>
					</div>
				{% endfor %}
			{% endif %}

		</div>

		<div class="row">

			<div class="caption generic-box corners spacer--tiny enquiries-box">
				<h4 class="generic-box__title">General Enquiries</h4>
				<address class="generic-box__address">
					{{ page.get_field('address') }}
				</address>
				<p>Call us on</p>
				<h4 class="generic-box__title">{{ page.phone_number }}</h4>
			</div>

		</div>

		<section class="seperator--light">

			<div class="grey-bg">

				<div class="row">

					<h2>Contact Form</h2>

					<form action="{{ page.link }}" method="post" class="theme-form spacer--medium">

						{{ forms.input('form_name', null, 'contact', 'hidden', false, '', null ) }}

						{% if form_errors %}

							<div class="full-width spacer--tiny error--message main-content">
								<p>Please enter valid ansers for the highlighted fields:</p>
								<ul>
									{% for form_error in form_errors %}
										<li>{{ form_error }}</li>
									{% endfor %}
								</ul>
							</div>

						{% endif %}

						{% if form_success %}

							<div class="full-width spacer--tiny">
								<p class="success--message">Thank you for getting in touch. A member of the Baingstoke Together team will contact you soon.</p>
								<a href="{{ page.link }}" class="btn submit">Send Another Message</a>
							</div>

						{% else %}

							<div class="grid-3--pull">
								<div>
									{{ forms.input('contact_name', 'Contact Name', form_data.contact_name, 'text', true, '',  form_errors.contact_name  ) }}
								</div>
								<div>
									{{ forms.input('contact_telephone', 'Telephone Number', form_data.contact_telephone, 'text', false, '',  form_errors.contact_telephone, pattern ) }}
								</div>
								<div class="spacer--tiny">
									{{ forms.input('contact_email', 'Email Address', form_data.contact_email, 'email', true, '',  form_errors.contact_email ) }}
								</div>
							</div>

							<div class="grid-4">
								<div>
									{{forms.textarea('contact_query', 'Your Query', form_data.contact_query, true, '', form_errors.contact_query )}}
								</div>
							</div>

							<div class="full-grid">
								<div class="spacer--tiny">
									<div class="g-recaptcha form-complete__recaptcha" data-sitekey="6LdvRBYUAAAAANHbjND7Np9jwNKG-bwYQ1UGytQh"></div>
								</div>

								<div>
									<button type="submit" class="submit btn">Send Message</button>
								</div>
							</div>

						{% endif %}

					</form>

				</div>

			</div>

		</section>

	</main>

{% endblock %}
