{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="seperator--light seperator-border spacer--tiny">

		<div class="row">

			<div class="site-tabs site-tabs--layout site-tabs--generic">
				<a href="{{ page.link }}" class="site-tabs_tab {% if not archived %}site-tabs--active{% endif %}">Current Downloads</a>
				<a href="{{ page.link }}?archived=true" class="site-tabs_tab {% if archived %}site-tabs--active{% endif %}">Archive</a>
			</div>

		</div>

	</div>

	<div class="">

		{% if groups %}
			{% for group in groups %}

				<div class="row {% if not loop.last %}spacer--tiny{% endif %}">

					<h2>{{ group.title }}</h2>

					{% for file in group.files %}
						<a href="{{ file.url }}" class="img-banner img-banner--3col external">
							<div class="img-banner__content corners">
								{% if file.thumbnail %}
									<img src="{{ file.thumbnail.src('file-thumbnail') }}" class="img-banner--3col__img" alt="{{ file.title }}">
								{% else %}
									<img src="{{site.theme.link}}/build/img/pdf.png" class="img-banner--3col__img" alt="{{ file.title }}">
								{% endif %}
								<p class="img-banner__text">{{ file.title }} - ({{ file.extension|upper }})</p>
								<p class="img-banner__size">({{ file.size_formatted }})</p>
								<span class="img-banner__icon img-banner--3col__icon"><i class="fa fa-arrow-down"></i></span>
							</div>
						</a>
					{% endfor %}
				</div>

			{% endfor %}
		{% else %}
			<div class="row spacer--tiny">
				<p>There are currently no downloads available. Please check back later.</p>
			</div>
		{% endif %}

	</div>

{% endblock %}