{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading spacer--small">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="seperator--generic seperator-border">

        <div class="row">

            <div class="site-tabs site-tabs--layout site-tabs--generic site-tabs--reverse">
                <a href="/{% if site_section == 'basingstoketogether' %}basingstoke-together{% else %}in-basingstoke{% endif %}/events" class="site-tabs_tab site-tabs_tab--events"><i class="fa fa-th-list"></i></a>
                <a href="/{% if site_section == 'basingstoketogether' %}basingstoke-together{% else %}in-basingstoke{% endif %}/events-calendar" class="site-tabs_tab site-tabs_tab--events-calendar"><i class="fa fa-calendar"></i></a>
            </div>

        </div>

    </div>

	<div class="seperator--light search-cats">

		<div class="row">

			<form action="{{ page.link }}" method="get" class="theme-form search-cats__form">

				<select name="eventfocus" class="search-cats__select">
					<option value="">Showing all categories</option>

					{% for focus in event_foci %}
						<option value="{{ focus.slug }}" {% if querystring.eventfocus == focus.slug %} selected {% endif %}>{{ focus.name }}</option>
					{% endfor %}
				</select>

				<select name="monthyear" class="search-cats__select">
					<option value="">Showing all months</option>

					{% for month_year in months_years %}
						<option value="{{ month_year.slug }}" {% if querystring.monthyear == month_year.slug %} selected {% endif %}>{{ month_year.month_name }} {{ month_year.year }}</option>
					{% endfor %}
				</select>

				<button type="submit" class="search-cats__submit btn">
					Search
				</button>

			</form>

			<div class="search-cats__feed">
				<a href="/rss/events/" title="RSS Feed" class="fa fa-rss site-rss external"></a>
			</div>

		</div>

	</div>

	<div class="row spacer--tiny article-wrapper">

		{% if events %}
			{% for event in events %}

				{% include 'shared/event-list-item.twig' %}

			{% endfor %}
		{% else %}
			<p>There are currently no events matching your criteria. Please check back later.</p>
		{% endif %}

	</div>

	<div class="data-placeholder-next"></div>


	{{ pagination_links.build(pagination, 'events') }}


{% endblock %}