{% extends "shared/base.twig" %}

{% block head %}
    <script>
    $(document).ready(function () {
        $('.js-datepicker').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#end_date').on('change', function () {
            if (this.value) {
                $('#occurs_on').find('input').removeAttr('disabled');
            } else {
                $('#occurs_on').find('input').attr('disabled', 'disabled');
            }
        });

        if ($('#end_date').val()) {
            $('#occurs_on').find('input').removeAttr('disabled');
        }

        $('#event_thumbnail').on('change', function (event) {
            var name;

            if ( !event.target.files[0] ) {
                $('#filename').hide();
                return false;
            }

            name = event.target.files[0].name;

            $('#filename').text(name).show();

        });
    });
    </script>
{% endblock %}

{% block content %}

<div role="banner" class="site-heading spacer--tiny">
    <div class="site-heading__graphic">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</div>

{% if record_added %}

    <div class="row spacer--tiny">

        <p>Thanks for submitting your event details! These have been sent to the Basingstoke Together team for approval.</p>

    </div>

{% else %}

    <div class="row spacer--tiny">

        <p class="spacer--tiny">Have an event you’d like us to share? Please enter the details in the form below:</p>

        {% if errors %}

            <div class="error--message spacer--tiny main-content">

                <p>There were errors submitting your event. Please fill in all fields and try again.</p>

                <ul>

                {% for error in errors %}

                    <li>{{ error }}</li>

                {% endfor %}

                </ul>

            </div>

        {% endif %}

    </div>

    <form id="event_submit" class="theme-form" action="" method="POST" enctype="multipart/form-data">

        <div class="row space--tiny">

            <h2>Event details</h2>

        </div>

        <div class="row spacer--tiny">

            <div class="grid-3--pull">

                <input type="hidden" name="form_name" value="submit_event">

                <h6>Event name</h6>

                <input type="text" name="event_name" placeholder="The name of your event" value="{{ previous_values.event_name }}">

                <div class="theme-form__radios">

                    <h6>Event type</h6>

                    <div class="event-types">

                    {% for row in event_types %}

                        <div class="event-types__row">

                        {% for event_type in row %}

                            <div class="event-types__item">

                                <input type="checkbox" name="event_type[]" id="event_type_{{ event_type.slug }}" value="{{ event_type.slug }}"> <label for="event_type_{{ event_type.slug }}">{{ event_type.name }}</label>

                            </div>

                        {% endfor %}

                        </div>

                    {% endfor %}

                    </div>

                </div>

            </div>

            <div class="grid-3--pull">

                <div class="theme-form__radios">

                    <h6>Event date</h6>

                    <input type="text" name="event_date_from" class="js-datepicker theme-form__small-input" placeholder="Start" value="{{ previous_values.event_date_from }}">

                    <input type="text" name="event_date_to" class="js-datepicker theme-form__small-input" placeholder="End (Optional)" value="{{ previous_values.event_date_to }}" id="end_date">

                    <h6>Event occurs on</h6>

                    <div class="event-types" id="occurs_on">

                    {% for row in days_of_the_week %}

                        <div class="event-types__row">

                        {% for day in row %}

                            <div class="event-types__item">

                                <input type="checkbox" name="event_repeater[]" id="event_repeater_{{ day }}" value="{{ day }}" checked disabled> <label for="event_repeater_{{ day }}">{{ day }}</label>

                            </div>

                        {% endfor %}

                        </div>

                    {% endfor %}

                    </div>

                </div>

            </div>

        </div>

        <div class="row spacer--tiny theme-form__border-spacer">

            <div class="grid-3--pull">

               <h6>Event address</h6>

                <textarea name="event_address" placeholder="Event address" value="{{ previous_values.event_address }}"></textarea>

                <h6>Event details</h6>

                <textarea name="event_details" placeholder="Event Details" value="{{ previous_values.event_details }}"></textarea>

            </div>

            <div class="grid-3--pull">

                <h6>Event thumbnail</h6>

                <div class="field">
                    <button type="button" class="file-replacement btn">Select file</button>
                    <input type="file" name="event_thumbnail" id="event_thumbnail" multiple="false" class="file-replaced" required>
                    <p id="filename"></p>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="grid-3--pull">

                <h2>Your details</h2>

                <input type="text" name="event_person" placeholder="Your name" value="{{ previous_values.event_person }}">

                <input type="email" name="event_email" placeholder="Your email" value="{{ previous_values.event_email }}">

                <input type="text" name="event_phone" placeholder="Your phone number" value="{{ previous_values.event_phone }}">

            </div>

        </div>


        <div class="row spacer--tiny">

            <button type="submit" class="submit btn">Submit your event</button>

        </div>

    </form>


{% endif %}

{% endblock %}
