{% extends "shared/base.twig" %}

{% block head %}
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51f10d2c511c0e43"></script>
{% endblock %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>Events</h1>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- Main Body -->
		<main role="main" id="main-content" class="main">

			<article class="main-content">

				{% if page.main_image %}
					<img src="{{ TimberImage(page.main_image).src('list-square') }}" alt="">
				{% endif %}

				<div class="list-info">
					<h2 class="list-info__text">
						{{ page.title }}
					</h2>
					<p class="list-info__date">
						{{ page.start_date|date('d F') }}

						{% if page.multiday_event == 'yes' %}
							- {{ page.end_date|date('d F') }}, {{ page.end_date|date('Y') }}
						{% else %}
							{{ page.start_date|date('Y') }}
						{% endif %}
					</p>

					{% if page.nearest_tube_station %}
						<p class="list-info__details">
							Nearest tube station: <span class="list-info__details--em">{{ page.nearest_tube_station }}</span>
						</p>
					{% endif %}

					{% if page.event_hashtag %}
						<p class="list-info__details">
							Event Hashtag: <a href="https://twitter.com/hashtag/{{ page.event_hashtag }}" class="list-info__details--em external">#{{ page.event_hashtag }}</a>
						</p>
					{% endif %}

					{% if page.instagram_account %}
						<p class="list-info__details">
							Instagram Account: <a href="http://instagram.com/{{ page.instagram_account }}" class="list-info__details--em external">{{ page.instagram_account }}</a>
						</p>
					{% endif %}

					<p class="list-info__share">
					    <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-51f10d2c511c0e43"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" class="list-info__share-btn" /></a>
					</p>
				</div>

				{% if page.introduction %}
					<p class="intro__text">
						{{ page.introduction }}
					</p>
				{% endif %}

				{{ page.get_field('main_content') }}

			</article>

			{% if not related_business %}

				<div class="central spacer--padding">
					<a href="/{% if site_section == 'basingstoketogether' %}basingstoke-together{% else %}in-basingstoke{% endif %}/events/" class="btn-standard">&lt; Back to Events</a>
				</div>

			{% endif %}

		</main>

		<!-- Sidebar -->
		<aside role="complementary" class="side">

			{% include 'shared/right-col.twig' %}

		</aside>

	</div>

	{% if related_business %}

	<div class="seperator--light">

		<div class="grey-bg border-fade">

			<div class="row">

				<div class="grid-4 spacer--padding-small">

					<div class="spacer--right">

						<h3>Hosted by</h3>

						<a href="{{ related_business.link }}" class="action-banner">
							<div class="action-banner__wrap">
								<h4 class="action-banner__title">{{ related_business.post_title }}</h4>
								<p class="action-banner__date">
									Find out more about this business &raquo;
								</p>
							</div>
							<img src="{{ TimberImage(related_business.logo).src('list-square') }}" alt="{{ related_business.company_name }}" width="165" class="action-banner__img">
						</a>

					</div>

				</div>

			</div>

			<div class="row">

				<div class="central spacer--padding">
					<a href="/find-a-business/" title="Back to Directory" class="btn-standard">&lt; Back to Directory</a>
				</div>

			</div>

		</div>

	</div>

	{% endif %}

{% endblock %}