{% extends "shared/base.twig" %}

{% block content %}

<div role="banner" class="site-heading spacer--small">
    <div class="site-heading__graphic">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</div>

<div class="grey-bg">


    <div class="seperator--generic seperator-border">

        <div class="row">

            <div class="site-tabs site-tabs--layout site-tabs--generic site-tabs--reverse">
                <a href="/{% if site_section == 'basingstoketogether' %}basingstoke-together{% else %}in-basingstoke{% endif %}/events" class="site-tabs_tab site-tabs_tab--events"><i class="fa fa-th-list"></i></a>
                <a href="/{% if site_section == 'basingstoketogether' %}basingstoke-together{% else %}in-basingstoke{% endif %}/events-calendar" class="site-tabs_tab site-tabs_tab--events-calendar"><i class="fa fa-calendar"></i></a>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="calendar-header">

            <div class="calendar-header__buttons">

                <a href="{{ calendar_url }}?eventmonth={{ prev_month.month }}&eventyear={{ prev_month.year }}" class="fa fa-angle-left calendar-header__button calendar-header__button--left" title="Previous Month"></a>

                <a href="{{ calendar_url }}?eventmonth={{ next_month.month }}&eventyear={{ next_month.year }}" class="fa fa-angle-right calendar-header__button calendar-header__button--right" title="Net Month"></a>

            </div>

            <div class="calendar-header__title">

                <h2>{{ current_month.month_string }} {{ current_month.year }}</h2>

            </div>

            <div class="calendar-header__key calendar-key">

                {% if event_legend %}

                    {% for row in event_legend %}

                        <div class="calendar-key__row">

                            {% for item in row %}

                                <div class="calendar-key__item">

                                    <div class="calendar-key__colour" style="background: {{ item.colour }}"></div> {{ item.name }}

                                </div>

                            {% endfor %}
                        </div>

                    {% endfor %}

                {% else %}

                    <p>&nbsp;</p>

                {% endif %}

            </div>

            <div class="calendar-header__rss">

                <a href="/rss/events/" title="RSS Feed" class="fa fa-rss site-rss external"></a>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="calendar">

            <div class="calendar__columns">

                {% for day in days_of_the_week %}

                    <div class="calendar__columns-item calendar__standout">
                        {{ day }}
                    </div>

                {% endfor %}

            </div>

            {% for week in weeks %}

                <div class="calendar__week">

                {% for day in week %}

                    <div class="calendar__day {% if day.date is not defined %}calendar__day--invalid {% endif %}">

                        <div class="calendar__standout calendar__date">{{ day.day }}</div>

                        <div class="calendar__events">

                            {% if day.events %}

                                {% for event in day.events %}

                                    <a href="/{% if site_section == 'basingstoketogether' %}basingstoke-together{% else %}in-basingstoke{% endif %}/events/{{event.post_name}}/" class="calendar__event"{% if event.bgcolour %} style="background: {{ event.bgcolour }}"{% endif %}>
                                        {{event.list_text}}
                                    </a>

                                {% endfor %}

                            {% else  %}

                                <p>&nbsp;</p>

                            {% endif %}

                        </div>

                    </div>

                {% endfor %}

                </div>

            {% endfor %}

        </div>

    </div>


</div>

{% endblock %}