{% extends "shared/base.twig" %}

{% block head %}
	{% if page.location.lat and page.location.lng %}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4L4QybNh3Di47HgGU9hMuV9Wccd182Bc"></script>
		<script type="text/javascript">
			function init_map(){

				var pos = new google.maps.LatLng({{ page.location.lat }}, {{ page.location.lng }}),
					myOptions = {
						zoom:17,
						center: pos,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					},
					map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions),
					marker = new google.maps.Marker({
						map: map,
						position: pos
					}),
					infowindow = new google.maps.InfoWindow({
						content:"<b>{{ page.title }}</b><br/>{% if page.display_address %}{{ page.display_address }}{% elseif page.location and page.location.address %}{{ page.location.address  }}{% endif %}"
					});

				infowindow.open(map, marker);

				google.maps.event.addListener(marker, "click", function(){
					infowindow.open(map, marker);
				});
			}

			google.maps.event.addDomListener(window, 'load', init_map);
		</script>
	{% endif %}
{% endblock %}

{% block content %}

	<div role="banner" class="site-heading spacer--small">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>Find a Business</h1>
			</div>
		</div>
	</div>

	<div id="main-content" class="row spacer--small">

		<main role="main" class="side details-content">

			<div class="details-content__wrap">

				<h2 class="details__title">{{ page.title }}</h2>

				{% if page.display_address %}
					<p class="details__address">
						{{ page.display_address  }}
					</p>
				{% elseif page.location and page.location.address %}
					<p class="details__address">
						{{ page.location.address  }}
					</p>
				{% endif %}

				{% if page.telephone %}
					<p class="details__number">{{ page.telephone }}</p>
				{% endif %}

				{% if page.website %}
					<a href="http://{{ page.website }}/" title="" class="details__link external">{{ page.website }}</a>
				{% endif %}

				{% if page.email_address %}
					<a href="mailto:{{ page.email_address }}" title="" class="details__link">{{ page.email_address }}</a>
				{% endif %}

			</div>

			{% if page.facebook_url or page.twitter_url %}
				<ul class="details__social">
					{% if page.facebook_url %}
						<li class="social__align">
							<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2F{{ page.facebook_url|url_encode }}&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;"></iframe>
						</li>
					{% endif %}
					{% if page.twitter_url %}
						<li class="social__align">
							<a href="https://twitter.com/{{ page.twitter_url }}" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @{{ page.twitter_url }}</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</li>
					{% endif %}
				</ul>
			{% endif %}

			{% if page.trip_advisor_content %}
				{{ page.trip_advisor_content }}
			{% endif %}
		</main>

		<div class="side">

			

		</div>

		<div class="side"></div>

		<div class="side">

			<img src="{{ TimberImage(page.logo).src() }}" width="240" alt="{{ page.title }}" class="details__img">

		</div>

	</div>

	{% if offers or rewards %}

	    <div class="row">

			<div class="site-tabs site-tabs--layout site-tabs--generic site-tabs--business" id="business_tabs">
				<a href="#business_info" class="site-tabs_tab js-tab site-tabs--active">Business Info</a>
				<a href="#offers_and_rewards" class="site-tabs_tab js-tab">Rewards &amp; Offers</a>
			</div>

		</div>

	{% endif %}

	<div class="seperator--light">

		<div class="grey-bg">

			<div id="business_info">

				<div class="row">

					<div class="grid-4 spacer--padding-small">

						<div class="spacer--right">

							<div class="main-content">

								{% if regular_opening_hours %}

									{% if page.opening_hours_text %}
										<p>{{ page.opening_hours_text }}</p>
									{% endif %}

								{% elseif opening_hours %}

									<table class="transparent-table">
										<tbody>

											{% for day in opening_hours %}
												<tr>
													<td class="cell-em">
														{{ day.key|title }}
													</td>
													{% if day.open %}
														<td>
															{{ day.from }}
														</td>
														<td>
															{{ day.to }}
														</td>
													{% else %}
														<td colspan="2">
															Closed
														</td>
													{% endif %}
												</tr>
											{% endfor %}

										</tbody>
									</table>

								{% endif %}

								{% if page.description %}
									<p>
										{{ page.get_field('description') }}
									</p>
								{% endif %}
							</div>

						</div>

					</div>

					<div class="grid-4 spacer--padding-small">

						{% if page.location.lat and page.location.lng %}

							<div id="gmap_canvas" class="map-object__item"></div>

							<p>&nbsp;</p>

						{% endif %}

						{% if business_images %}

							<!-- If using Caroufredsel, turn on Responsive option -->
							<div class="gallery" id="gallery_business_detail">
								{% for image in business_images %}
									<div id="gallery-image-{{ loop.index }}" class="gallery__img">
										<img src="{{ image.src('list-square') }}" alt="{{ image.alt }}">
									</div>
								{% endfor %}
							</div>
							{% if business_images|length > 0 %}
								<ul class="gallery__thumbs" id="gallery_business_detail_thumbs"></ul>
							{% endif %}

						{% endif %}

						{% if page.youtube_video_id %}
							<div class="video-container">
								<iframe width="584" height="460" src="//www.youtube.com/embed/{{ page.youtube_video_id }}" frameBorder="0" seamless allowfullscreen></iframe>
							</div>
						{% endif %}

						{% if related_event %}
							<a href="{{ related_event.link }}" class="action-banner">
								<div class="action-banner__wrap">
									<h4 class="action-banner__title">Events</h4>
									<p class="action-banner__text">
										{{ related_event.list_text }}
									</p>
									<p class="action-banner__date">
										{{ related_event.start_date|date('d F') }}
										{% if related_event.multiday_event == 'yes' %}
											- {{ related_event.end_date|date('d F') }}, {{ related_event.end_date|date('Y') }}
										{% else %}
											{{ related_event.start_date|date('Y') }}
										{% endif %}
									</p>
								</div>
								<img src="{{ related_event.listImage().src('list-square') }}" alt="{{ related_event.listImage().alt }}" width="165" class="action-banner__img">
							</a>
						{% endif %}

						{% if related_job %}
							<a href="{{ related_job.link }}" class="action-banner">
								<div class="action-banner__wrap">
									<h4 class="action-banner__title">Job Vacancies</h4>
									<p class="action-banner__text">
										{{ related_job.company_name }}
									</p>
									<p class="action-banner__date">
										{{ related_job.application_date|date('d M Y') }}
										
									</p>
								</div>
								<img src="{{ related_job.image.src('list-square') }}" alt="{{ related_job.company_name }}" width="165" class="action-banner__img">
							</a>
						{% endif %}

						{% if related_news %}
							<a href="{{ related_news.link }}" class="action-banner">
								<div class="action-banner__wrap">
									<h4 class="action-banner__title">Latest News</h4>
									<p class="action-banner__text">
										{{ related_news.list_text }}
									</p>
									<p class="action-banner__date">{{ related_news.post_date|date('d F Y') }}</p>
								</div>
								<img src="{{ related_news.listImage().src('list-square') }}" alt="{{ related_news.listImage().alt }}" width="165" class="action-banner__img">
							</a>
						{% endif %}
					</div>

				</div>

				<div class="row">

					<div class="central spacer--padding">
						<a href="/in-basingstoke/find-a-business/" title="Back to Directory" class="btn-standard">&lt; Back to Directory</a>
					</div>

				</div>

			</div>

			</div>

		</div>

	</div>

{% endblock %}