{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="seperator--light search-cats">

		<div class="row">

			<form action="{{ page.link }}" method="get" class="theme-form search-cats__form">

				<input name="business_name" type="text" for="business_name" placeholder="Enter a Business Name" class="search-cats__input" value="{{ business_name }}">
				
				<select name="business_type" class="search-cats__select">
					<option value="">Select a Business Type</option>

					{% for business_type in business_types %}
						<option value="{{ business_type.slug }}" {% if querystring.business_type == business_type.slug %} selected {% endif %}>{{ business_type.name }}</option>
					{% endfor %}
				</select>

				<button type="submit" class="search-cats__submit btn">
					Search
				</button>

			</form>

		</div>

	</div>

	<div class="row spacer--small">
		<ul class="cat-list">
			<li>
				<a href="{{ page.link }}" class="cat-list__item {% if current_letter == 'all' %}cat-list__item--selected{% endif %}">Full List</a>
			</li>

			{% for letter in letters %}
				<li>
					{% if letter.has_matches %}
						<a href="{{ page.link }}by-letter/{{ letter.letter|lower }}/" class="cat-list__item {% if current_letter == letter.letter|lower %}cat-list__item--selected{% endif %}">{{ letter.letter }}</a>
					{% else %}
						<span class="cat-list__item cat-list__item--inactive">{{ letter.letter }}</span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="row spacer--small article-wrapper">

		{% if businesses %}
			{% for business in businesses %}

				{% include 'shared/business-list-item.twig' %}

			{% endfor %}
		{% else %}
			<p>There are currently no businesses matching your criteria. Please check back later.</p>
		{% endif %}

	</div>

	<div class="data-placeholder-next"></div>

	<div class="row spacer--tiny">

		{{ pagination_links.build(pagination, 'businesses') }}

	</div>
	
{% endblock %}