{% extends "shared/base.twig" %}

{% block content %}

	<!-- Main Body -->
	<main role="main" id="main-content" class="page-bg">

		<section class="row spacer--medium">

			<div class="full-intro spacer--small">
				<h1 class="full-intro__title">{{ title }}</h1>
			</div>

			<div class="full-width spacer--padded corners seperator--generic">

				<div class="even-grid">

					{% if form_type == 'sendemail' %}

						{% if form_data.sent_key %}
							<p class="spacer--tiny">
								An email has been sent to the registered email address entered. <br><br> Please check your inbox to proceed.
							</p>
						{% else %}

							<p class="spacer--tiny">
								Please enter your email address and we will email you a link to reset your password.
							</p>

							<form action="{{ page.link }}" method="post" class="theme-form">

								{{ forms.input('form_name', null, 'forgot_password', 'hidden', false, '', null ) }}
								{{ nonce }}

								{% if form_errors %}

									<div class="full-width spacer--tiny error--message main-content">
										<p>Please correct the following errors:</p>
										<ul>
											{% for form_error in form_errors %}
												<li>{{ form_error }}</li>
											{% endfor %}
										</ul>
									</div>

								{% endif %}

								<div>
									{{ forms.input('user_email', 'Email Address', form_data.login_email, 'email', true, '',  form_errors.login_email, 2 ) }}
								</div>

								<div>
									<button type="submit" class="submit btn">
										Retrieve Password
									</button>
								</div>

							</form>

						{% endif %}
					{% else %}

						{% if key_error %}
							<p class="">
								{{ key_error }}
							</p>

						{% elseif form_data.password_reset_success %}

							<p class="">
								Your password has been reset successfully. Please <a href="{{ urls.login }}" title="Click here to login">click here</a> to login.
							</p>

						{% else %}

							<p class="spacer--tiny">
								Please enter a new password below and also confirm it by entering it again.
							</p>

							<form action="{{ page.link }}?action=rp&key={{ querystring.key }}&login={{ querystring.login }}" method="post" class="theme-form">

								{{ forms.input('form_name', null, 'reset_password', 'hidden', false, '', null ) }}
								{{ nonce }}

								{% if form_errors %}

									<div class="full-width spacer--tiny error--message main-content">
										<p>Please correct the following errors:</p>
										<ul>
											{% for form_error in form_errors %}
												<li>{{ form_error }}</li>
											{% endfor %}
										</ul>
									</div>

								{% endif %}

								<div>
									{{ forms.input('pass1', 'New Password', form_data.pass1, 'password', true, '',  form_errors.pass1, 3 ) }}
								</div>

								<div>
									{{ forms.input('pass2', 'Confirm New Password', form_data.pass2, 'password', true, '',  form_errors.pass2, 3 ) }}
								</div>

								<div>
									<button type="submit" class="submit btn">
										Set New Password
									</button>
								</div>

							</form>

						{% endif %}

					{% endif %}
				</div>

			</div>

		</section>

	</main>
	
{% endblock %}