{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	

	<div class="row spacer--tiny article-wrapper padding-top">

		{% if galleries %}
			{% for gallery in galleries %}

				{% include 'shared/gallery-list-item.twig' %}

			{% endfor %}
		{% else %}
			<p>There are currently no galleries available. Please check back later.</p>
		{% endif %}

	</div>

	<div class="data-placeholder-next"></div>

	<!-- {{ pagination_links.build(pagination, 'news galleries') }} -->

	
{% endblock %}