{% extends "shared/base.twig" %}

{% block content %}

    <div role="banner" class="site-heading spacer--tiny">
        <div class="site-heading__graphic">
            <div class="wrapper">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div id="ealing_gallery" class="ealing-gallery">

            <div class="ealing-gallery-images js-ealing_gallery_images">

                <button class="ealing-gallery-images__button ealing-gallery-images__button--left" disabled>&laquo;</button>

                {% for image in images %}
                    <figure class="ealing-gallery-images__image" id="ealing_gallery_{{ loop.index }}">

                        {% if image.link %}
                            <a href="{{ image.link }}" class="ealing-gallery-images__link"><i class="fa fa-star"></i> Buy now</a>
                        {% endif %}

                        {% if image.description %}
                            <figcaption class="ealing-gallery-images__description">{{ image.description }}</figcaption>
                        {% endif %}

                        <img src="{{ image.image.src('gallery') }}" alt="{{ image.description }}">

                    </figure>
                {% endfor %}

                <button class="ealing-gallery-images__button ealing-gallery-images__button--right" disabled>&raquo;</button>

            </div>

            <div class="ealing-gallery-thumbs js-ealing_gallery_thumbs">

                <button class="ealing-gallery-thumbs__button ealing-gallery-thumbs__button--left" disabled>&laquo;</button>

                <div class="ealing-gallery-thumbs__slider">

                    {% for image in images %}
                        <a href="#ealing_gallery_{{ loop.index }}" class="ealing-gallery-thumbs__link">
                            <img src="{{ image.image.src('gallery-thumb') }}" >
                        </a>
                    {% endfor %}

                </div>

                <button class="ealing-gallery-thumbs__button ealing-gallery-thumbs__button--right" disabled>&raquo;</button>

            </div>

          

        </div>



    </div>

{% endblock %}