{% extends "shared/base.twig" %}

{% block head %}
	{% if page.location.lat and page.location.lng %}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4L4QybNh3Di47HgGU9hMuV9Wccd182Bc"></script>
		<script type="text/javascript">
			function init_map(){

				var pos = new google.maps.LatLng({{ page.location.lat }}, {{ page.location.lng }}),
					myOptions = {
						zoom:17,
						center: pos,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					},
					map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions),
					marker = new google.maps.Marker({
						map: map,
						position: pos
					}),
					infowindow = new google.maps.InfoWindow({
						content:"<b>{{ page.title }}</b><br/>{% if page.display_address %}{{ page.display_address }}{% elseif page.location and page.location.address %}{{ page.location.address  }}{% endif %}"
					});

				infowindow.open(map, marker);

				google.maps.event.addListener(marker, "click", function(){
					infowindow.open(map, marker);
				});
			}

			google.maps.event.addDomListener(window, 'load', init_map);
		</script>
	{% endif %}
{% endblock %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- Main Body -->
		<main role="main" id="main-content" class="main">

			<section class="main-content">

				{% if page.introduction %}
					<p class="intro__text">
						{{ page.introduction }}
					</p>
				{% endif %}

				{% if page.location.lat and page.location.lng %}

					<div id="gmap_canvas" class="map-object__item"></div>

					<p>&nbsp;</p>

				{% endif %}

				{{ page.get_field('main_content') }}

			</section>
			
			{% if downloads %}
				<section class="site-downloads">
					<h2>Downloads</h2>
					<ul>
						{% for download in downloads %}
							<li class="site-downloads__wrap">
								<a href="{{ download.url }}" class="site-downloads__link external">
									<span class="site-downloads__text">
										Download {{ download.title }} {{ download.extension }} - ({{ download.size_formatted }})
									</span>
									<span class="site-downloads__icon">
										<i class="fa fa-arrow-down"></i>
									</span>
								</a>
							</li>
						{% endfor %}						
					</ul>
				</section>
			{% endif %}
		</main>

		<!-- Sidebar -->
		<aside role="complementary" class="side">
			{% include 'shared/right-col.twig' %}
		</aside>

	</div>
	
{% endblock %}