{% extends "shared/base.twig" %}

{% block head %}
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51f10d2c511c0e43"></script>
{% endblock %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>Job Vacancies</h1>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- Main Body -->
		<main role="main" id="main-content" class="main">

			<article class="main-content">

				<div class="list-info">
					<div class="info-side">
						<h2 class="list-info__text">
							{{ page.title }}
						</h2>


						{% if page.company_name %}
							<p class="list-info__title">
								{{ page.company_name }}
							</p>
						{% endif %}

						<p class="list-info__details">
							Posted: <span class="list-info__details--em">{{ page.post_date|date('d F Y') }}</span>
						</p>
						<p class="list-info__details">
							Apply by: <span class="list-info__details--em">{{ page.application_date|date('d F Y') }}</span>
						</p>

						<p class="list-info__share">
						    <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-51f10d2c511c0e43"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" class="list-info__share-btn" /></a>
						</p>
					</div>

					{% if page.company_logo %}
						<div class="info-image">
							<img src="{{ TimberImage(page.company_logo).src('list-square') }}" alt="{{ page.company_name }}">
						</div>
					{% endif %}
				</div>

				{{ page.get_field('main_content') }}

				<hr>

			</article>

			<div class="central spacer--medium">
				<a href="/in-basingstoke/job-vacancies/" title="Back to Jobs List" class="btn-standard">&lt; Back to Jobs List</a>
			</div>

		</main>

		<!-- Sidebar -->
		<aside role="complementary" class="side">

			{% include 'shared/right-col.twig' %}
			<a href="mailto:{{ urls.email }}" class="caption banner-notice corners spacer--tiny green-bg">
				<h3 class="link-list__title">Send us a job listing</h3>
				<p>
					Do you have a job vacancy you would like to advertise?
					Email us
				</p>
			</a>

		</aside>

	</div>

{% endblock %}