{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>Job Vacancies</h1>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- Main Body -->
		<main role="main" id="main-content" class="main">

			<section class="spacer--small">


				{% if vacancies %}
					{% for vacancy in vacancies %}

						<div class="list-info">

							<h2 class="list-info__text">
								<a href="{{ vacancy.link }}">{{ vacancy.title }}</a>
							</h2>

							{% if vacancy.company_name %}
								<p class="list-info__title">
									{{ vacancy.company_name }}
								</p>
							{% endif %}

							<p class="list-info__details">
								Posted: <span class="list-info__details--em">{{ vacancy.post_date|date('d F Y') }}</span>
							</p>
							<p class="list-info__details spacer--small">
								Apply by: <span class="list-info__details--em">{{ vacancy.application_date|date('d F Y') }}</span>
							</p>
							<div class="list-info__wrap">
								{% if vacancy.company_logo %}
									<div class="info-image">
										<img src="{{ TimberImage(vacancy.company_logo).src('list-square') }}" alt="{{ vacancy.company_name }}">
									</div>
								{% endif %}
								<div class="main-content info-side info-side">
									<p>
										{{ vacancy.introduction }} <a href="{{ vacancy.link }}" class="list-info__more-link">Read More</a>
									</p>
								</div>
							</div>
							<hr>
						</div>

					{% endfor %}
				{% else %}
					<p>There are currently no job vacancies matching your criteria. Please check back later.</p>
				{% endif %}

			</section>


			{% if pagination and pagination.pages %}

					<nav class="pagination spacer--medium">
						<ul>
						    {% if pagination.prev and pagination.prev.link %}
						    	<li><a href="{{pagination.prev.link}}">&lt;</a></li>
					        {% else %}
								<li class="pagination--disabled"><span>&lt;</span></li>
						    {% endif %}

					        {% for page in pagination.pages %}
					            <li>
					                {% if page.link %}
					                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
					                {% else %}
					                    <span class="{{page.class}}">{{page.title}}</span>
					                {% endif %}
					            </li>
					        {% endfor %}
						   
						    {% if pagination.next %}
						    	<li><a href="{{pagination.next.link}}">&gt;</a></li>
					        {% else %}
								<li class="pagination--disabled"><span>&gt;</span></li>
						    {% endif %}
					   	</ul>
				    </nav>
			{% endif %}

		</main>

		<!-- Sidebar -->
		<aside role="complementary" class="side">

			{% include 'shared/right-col.twig' %}

			{% if categories %}

				<div class="caption link-list-full corners spacer--tiny">
					<h3 class="link-list__title">Categories</h3>
					<ul>
						<li>
							<a href="{{ page.link }}by-category/all/" class="{% if current_category == 'all' %}link-list--active{% endif %}">All</a>
						</li>
						{% for category in categories %}
							<li>
								<a href="{{ page.link }}by-category/{{ category.slug }}/" class="{% if current_category == category.slug %}link-list--active{% endif %}">{{ category.name }}</a>
							</li>
						{% endfor %}						
					</ul>
				</div>
			{% endif %}
			
		</aside>

	</div>
	
{% endblock %}