{% extends "shared/base.twig" %}

{% block content %}

	<!-- Main Body -->
	<main role="main" id="main-content" class="page-bg">

		<section class="row spacer--medium">

			<div class="full-intro spacer--small">
				<h1 class="full-intro__title">{{ page.header_text }}</h1>
				<p class="full-intro__text">
					{{ page.introduction_text }}
				</p>
			</div>

			<div class="even-grid spacer--padded corner-left seperator--generic">

				<h3>Already a business member?</h3>

				<p class="spacer--tiny">
					Please enter your email address and password.
				</p>

				<form action="{{ action }}" method="post" class="theme-form">

					{{ forms.input('form_name', null, 'login', 'hidden', false, '', null ) }}
					{{ nonce }}

					{% if form_data.form_name == 'login' and form_errors %}

						<div class="full-width spacer--tiny error--message main-content">
							<p>Please correct the following errors:</p>
							<ul>
								{% for form_error in form_errors %}
									<li>{{ form_error }}</li>
								{% endfor %}
							</ul>
						</div>

					{% endif %}

					<div>
						{{ forms.input('login_email', 'Email Address', form_data.login_email, 'email', true, '',  form_errors.login_email, 2 ) }}
					</div>

					<div>
						{{ forms.input('login_password', 'Password', form_data.login_password, 'password', true, '',  form_errors.login_password, 3 ) }}
					</div>

					<div>
						<button type="submit" class="submit btn">
							Login
						</button>
						<a href="/business/login/forgotten-password/" title="Have you forgot the password to login?" class="theme-form--helper-text">
							Forgotten Password?
						</a>
					</div>

				</form>

			</div>

			<div class="even-grid spacer--padded corner-right seperator--light theme-form">
				<h3>Request Access</h3>
				<p class="spacer--medium">
					{{ page.request_access_text }}
				</p>
				<a href="mailto:{{ urls.admin_email }}" class="btn submit">
					Contact Us
				</a>
			</div>

		</section>

	</main>
	
{% endblock %}