{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="seperator--light search-cats">

		<div class="row">

			<form action="{{ page.link }}" method="get" class="theme-form search-cats__form">

				<select name="storyfocus" class="search-cats__select">
					<option value="">Showing all categories</option>

					{% for focus in story_foci %}
						<option value="{{ focus.slug }}" {% if querystring.storyfocus == focus.slug %} selected {% endif %}>{{ focus.name }}</option>
					{% endfor %}
				</select>

				<select name="monthyear" class="search-cats__select">
					<option value="">Showing all months</option>
					
					{% for month_year in months_years %}
						<option value="{{ month_year.slug }}" {% if querystring.monthyear == month_year.slug %} selected {% endif %}>{{ month_year.month_name }} {{ month_year.year }}</option>
					{% endfor %}
				</select>

				<button type="submit" class="search-cats__submit btn">
					Search
				</button>

			</form>

			<div class="search-cats__feed">
				<a href="/rss/news/" title="RSS Feed" class="fa fa-rss site-rss external"></a>
			</div>

		</div>

	</div>

	<div class="row spacer--tiny article-wrapper">

		{% if articles %}
			{% for article in articles %}

				{% include 'shared/news-list-item.twig' %}

			{% endfor %}
		{% else %}
			<p>There are currently no news articles available. Please check back later.</p>
		{% endif %}

	</div>

	<div class="data-placeholder-next"></div>

	{{ pagination_links.build(pagination, 'news articles') }}

	
{% endblock %}