{% extends "shared/base.twig" %}

{% block head %}
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51f10d2c511c0e43"></script>
{% endblock %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>News</h1>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- Main Body -->
		<main role="main" id="main-content" class="main">

			<article class="main-content">

				<div class="list-info">
					<h2 class="list-info__text">
						{{ page.title }}
					</h2>
					<p class="list-info__date">
						{{ page.post_date|date('d F Y') }}
					</p>
					<p class="list-info__share">
					    <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-51f10d2c511c0e43"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" class="list-info__share-btn" /></a>
					</p>
				</div>

				{% if page.introduction %}
					<p class="intro__text">
						{{ page.introduction }}
					</p>
				{% endif %}

				{{ page.get_field('main_content') }}

			</article>

			<div class="central spacer--medium">
				<a href="/in-basingstoke/news/" title="Back to News" class="btn-standard">&lt; Back to News List</a>
			</div>

		</main>

		<!-- Sidebar -->
		<aside role="complementary" class="side">

			{% include 'shared/right-col.twig' %}

		</aside>

	</div>

{% endblock %}