{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="grey-bg">

		<div class="row white-bg">

			<div class="main-content spacer--top spacer--tiny">
				{% if page.introduction %}
					{{ page.introduction }}
				{% endif %}
			</div>

			<ul class="category-tabs spacer--tiny">

				<li class="category-tabs--active">
					<span class="category-tabs__item">
						Shopping
					</span>
				</li>

				<li>
					<span class="category-tabs__item">
						Food &amp; Drink
					</span>
				</li>

				<li>
					<span class="category-tabs__item">
						Entertainment
					</span>
				</li>

				<li>
					<span class="category-tabs__item">
						Health &amp; Beauty
					</span>
				</li>

				<li>
					<span class="category-tabs__item">
						Professional Services
					</span>
				</li>

				<li>
					<span class="category-tabs__item">
						Others
					</span>
				</li>

			</ul>

			{% if notification_message %}
				<div class="wrapper notification {% if notification_error %}notification-error{% else %}notification-success{% endif %}">
					<p>{{ notification_message }}</p>
				</div>
			{% endif %}

			<ul class="category-tabs__content js-initiatives spacer--tiny">
				
				<li class="category-tabs--active">

					{% for promotion in promotions.shopping %}

						<div class="col-box col-box--alt col-left" id="promotion-small-shopping-{{ promotion.post_name }}">
							<a href="#promotion-detail-shopping-{{ promotion.post_name }}">
								<div class="col-box__title col-box__title--alt">
									<h3 class="col-box__heading">{{ promotion.title }}</h3>
								</div>
								<img src="{{ promotion.listImage().src('list-square') }}" alt="" class="corners">
							</a>
						</div>

					{% endfor %}

				</li>

				<li>

					{% for promotion in promotions.food_and_drink %}

						<div class="col-box col-box--alt col-left" id="promotion-small-food_and_drink-{{ promotion.post_name }}">
							<a href="#promotion-detail-food_and_drink-{{ promotion.post_name }}">
								<div class="col-box__title col-box__title--alt">
									<h3 class="col-box__heading">{{ promotion.title }}</h3>
								</div>
								<img src="{{ promotion.listImage().src('list-square') }}" alt="" class="corners">
							</a>
						</div>

					{% endfor %}

				</li>

				<li>

					{% for promotion in promotions.entertainment %}

						<div class="col-box col-box--alt col-left" id="promotion-small-entertainment-{{ promotion.post_name }}">
							<a href="#promotion-detail-entertainment-{{ promotion.post_name }}">
								<div class="col-box__title col-box__title--alt">
									<h3 class="col-box__heading">{{ promotion.title }}</h3>
								</div>
								<img src="{{ promotion.listImage().src('list-square') }}" alt="" class="corners">
							</a>
						</div>

					{% endfor %}

				</li>

				<li>

					{% for promotion in promotions.health_and_beauty %}

						<div class="col-box col-box--alt col-left" id="promotion-small-health_and_beauty-{{ promotion.post_name }}">
							<a href="#promotion-detail-health_and_beauty-{{ promotion.post_name }}">
								<div class="col-box__title col-box__title--alt">
									<h3 class="col-box__heading">{{ promotion.title }}</h3>
								</div>
								<img src="{{ promotion.listImage().src('list-square') }}" alt="" class="corners">
							</a>
						</div>

					{% endfor %}


				</li>

				<li>

					{% for promotion in promotions.professional_services %}

						<div class="col-box col-box--alt col-left" id="promotion-small-professional_services-{{ promotion.post_name }}">
							<a href="#promotion-detail-professional_services-{{ promotion.post_name }}">
								<div class="col-box__title col-box__title--alt">
									<h3 class="col-box__heading">{{ promotion.title }}</h3>
								</div>
								<img src="{{ promotion.listImage().src('list-square') }}" alt="" class="corners">
							</a>
						</div>

					{% endfor %}

				</li>

				<li>

					{% for promotion in promotions.other %}

						<div class="col-box col-box--alt col-left" id="promotion-small-other-{{ promotion.post_name }}">
							<a href="#promotion-detail-other-{{ promotion.post_name }}">
								<div class="col-box__title col-box__title--alt">
									<h3 class="col-box__heading">{{ promotion.title }}</h3>
								</div>
								<img src="{{ promotion.listImage().src('list-square') }}" alt="" class="corners">
							</a>
						</div>

					{% endfor %}

				</li>

			</ul>

			<div class="initiative-details-wrapper" id="initiatives_wrapper">

				{% for key, category in promotions %}

					{% for promotion in category %}

						<div id="promotion-detail-{{ key }}-{{ promotion.post_name }}" class="col-detail seperator--generic corners has-js-hide" data-small-col="promotion-small-{{ key }}-{{ promotion.post_name }}">

							<a href="#" class="col-detail--close"><i class="fa fa-close" aria-hidden="true"></i></a>						

							<section class="main-content">

								<h3 class="col-detail__content--intro">
									{{ promotion.intro }}
								</h3>

								{{ promotion.get_field('main_content') }}

							</section>

						</div>

					{% endfor %}

				{% endfor %}

			</div>

		</div>

	</div>

{% endblock %}
