{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- Main Body -->
		<main role="main" id="main-content" class="main">

			<section class="spacer--small">

				{% if groups %}
					{% for group in groups %}

						<div class="faq-group">

							<h2>{{ group.group_name }}</h2>

							{% for qa in group.group_qas %}

								<div class="collapsible">
									<h3 class="collapsible__title" aria-expanded="true">
										<span class="collapsible__indicator">Q</span>
										<span class="collapsible__question">{{ qa.question }}</span>
										<span class="collapsible__helper"> v </span>
									</h3>
									<div class="collapsible__content" aria-hidden="false">
										<span class="collapsible__indicator">A</span>
										<div class="collapsible__content--answer main-content">
											{{ qa.answer }}
										</div>
									</div> 
								</div>

							{% endfor %}
						</div>

					{% endfor %}
				{% else %}
					<p>There are currently no FAQs available. Please check back later.</p>
				{% endif %}

			</section>

		</main>

		<!-- Sidebar -->
		<aside role="complementary" class="side">
			<a href="mailto:{{ urls.admin_email }}" class="caption banner-notice corners spacer--tiny">
				<h3 class="link-list__title">Still have a question?</h3>
				<p>
					Send us your question and we will be happy to answer it for you!
				</p>
			</a>

		</aside>

	</div>
	
{% endblock %}