{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>Search Results</h1>
			</div>
		</div>
	</div>

	<div class="seperator--light spacer--small">

		<div class="wrapper">

			<form class="form-result" action="{{ urls.search }}" method="GET">
				<label for="searchquery" class="form-result__label">Your results for:</label>
				<div class="form-result--hold">
					<input type="text" id="searchquery" name="searchquery" placeholder="Lorem" class="form-result__input" value="{{ search.term }}">
					<button type="submit" class="form-result__submit">
						<i class="fa fa-search"></i> <span>Search</span>
					</button>
				</div>
			</form>
		</div>

	</div>

	<div class="row">

		<!-- Main Body -->
		<main role="main" id="main-content" class="full-space">

			<section class="spacer--small">

				{% if search.error %} 
					<h2>An unexpected error has occured. Please try again.</h2>
				{% endif %}

				{% if search.no_matches %} 
					<h2>There were no matches for the term '{{ search.term }}'. Please try again.</h2>
				{% endif %}

				{% if search.results %} 
					{% for result in search.results %}
						<a href="{{ result.link }}" class="main-content list-results" title="Click here to view">
							<h2 class="list-results__title">{{ result.title }}</h2>
							<p class="list-results__text">{{ result.snippet }}</p>
							<hr>
						</a>
					{% endfor %}
				{% endif %}
				
			</section>

			{% if search.cursor.pages %}

				<nav class="pagination spacer--medium">
					<ul>

						{% if search.sourcepage > 1 %}
							<li><a href="{{ urls.search }}?searchquery={{ search.term }}&sp={{ search.sourcepage - 1 }}">&lt;</a></li>
						{% else %}
							<li class="pagination--disabled"><span>&lt;</span></li>
						{% endif %}

						{% for page in search.cursor.pages %}
							<li {% if page.label == search.sourcepage %} class="pagination--active" {% endif %}>
								<a href="{{ urls.search }}?searchquery={{ search.term }}&sp={{ page.label }}">{{ page.label }}</a>
							</li>
						{% endfor %}

						{% if search.sourcepage < 10 %}
							<li><a href="{{ urls.search }}?searchquery={{ search.term }}&sp={{ search.sourcepage + 1 }}">&gt;</a></li>
						{% else %}
							<li class="pagination--disabled"><span>&gt;</span></li>
						{% endif %}
						
					</ul>
				</nav>

			{% endif %}
		</main>

	</div>
	
{% endblock %}