{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>Sitemap</h1>
			</div>
		</div>
	</div>
	
	<div id="main-content" class="wrapper spacer--small">
		
		{% if menu.sitemap.items %}
            <ul class="site-map">
            {% for item in menu.sitemap.items %}
                <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                    <a href="{{item.link}}">{{item.title}}</a>
                    {% if item.children %}
                    <ul class="site-map__sub">
                        {% for subitem in item.children %}
                            <li id="menu-item-{{subitem.ID}}" class="menu-item menu-item-type-{{subitem.type}} menu-item-object-{{subitem.object}} menu-item-{{subitem.ID}}">
                                <a href="{{subitem.link}}">{{subitem.title}}</a>
                                {% if subitem.children %}
				                <ul class="site-map__subsub">
				                    {% for subitemchild in subitem.children %}
				                        <li id="menu-item-{{subitemchild.ID}}" class="menu-item menu-item-type-{{subitemchild.type}} menu-item-object-{{subitemchild.object}} menu-item-{{subitemchild.ID}}">
				                            <a href="{{subitemchild.link}}">{{subitemchild.title}}</a>
				                        </li>
				                    {% endfor %}
				                </ul>
				                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

	</div>
	
{% endblock %}