{% extends "shared/base.twig" %}

{% block content %}

	<div role="banner" class="site-heading spacer--tiny">
		<div class="site-heading__graphic">
			<div class="wrapper">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<!-- Main Body -->
	<main role="main" id="main-content">

		<div class="row">

			{% if team_members %}
				{% for team_member in team_members %}

					<div class="banner caption spacer--tiny no-effect corners">
						<img src="{{ TimberImage(team_member.image).src('list-square') }}" alt="{{ TimberImage(team_member.image).alt }}" class="corners">
						<div class="caption__hold purple-bg hover-effect__inner">
							<h4 class="caption__title hover-effect__title">
								{{ team_member.post_title }} <span class="caption__text">{{ team_member.job_title }}</span>
							</h4>
						</div>
					</div>
				{% endfor %}
			{% endif %}

		</div>

	</main>

{% endblock %}
