{% extends "shared/base.twig" %}

{% block content %}

<div role="banner" class="site-heading">
    <div class="site-heading__graphic">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</div>

{% if timeline_buttons %}
<div class="seperator--light">

    <div class="timeline-bar wrapper">
        {% if timeline_buttons.prev %}
            <a href="/business/achievements/?timeline_year={{ timeline_buttons.prev }}" class="btn btn--large timeline-btn timeline-btn__prev">&lt; {{ timeline_buttons.prev }}</a>
        {% endif %}

        <h2 class="timeline__title">{{ timeline_buttons.current }}</h2>

        {% if timeline_buttons.next %}
            <a href="/business/achievements/?timeline_year={{ timeline_buttons.next }}" class="btn btn--large timeline-btn timeline-btn__next">{{ timeline_buttons.next }} &gt;</a>
        {% endif %}
    </div>

</div>
{% endif %}

<div id="timeline" class="timeline">

    {% for month in months %}

        {% if month.image_alignment == 'left' %}

            <a {% if month.link %}href="{{ month.link }}"{% endif %} class="item timeline__item timeline-item timeline-item--table">
                <img src="{{ month.image.src('timeline-small') }}" class="timeline-item__image timeline-item__image--left">
                <div class="timeline-item__info timeline-item__info--right">
                    <h2>{{ month.month }}</h2>
                    <p>{{ month.details }}</p>
                </div>
            </a>

        {% elseif month.image_alignment == 'right' %}

            <a {% if month.link %}href="{{ month.link }}"{% endif %} class="item timeline__item timeline-item timeline-item--table">
                <div class="timeline-item__info timeline-item__info--left">
                    <h2>{{ month.month }}</h2>
                    <p>{{ month.details }}</p>
                </div>
                <img src="{{ month.image.src('timeline-small') }}" class="timeline-item__image timeline-item__image--right">
            </a>

        {% else %}

            <a {% if month.link %}href="{{ month.link }}"{% endif %} class="item timeline__item timeline-item">
                <div class="timeline-item__info timeline-item__info--top">
                    <h2>{{ month.month }}</h2>
                    <p>{{ month.details }}</p>
                </div>
                <img src="{{ month.image.src('large') }}" class="timeline-item__image">
            </a>

        {% endif %}

    {% endfor %}

</div>

{% endblock %}