{% extends "shared/base.twig" %}

{% block head %}
	<script src="https://js.stripe.com/v3/"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}


	<main role="main" class="promo" id="together-card-sign-up">

		{% if show_card_details %}

			<section class="promo__form white-bg">

				<div id="payment-success-message" hidden>
					<div class="full-width spacer--tiny">
						<p class="promo__success-title">
							Thank you for joining!
						</p>
						<div class="main-content">
							{{ page.get_field("thankyou_text") }}
						</div>
					</div>
				</div>

				<form action="{{ page.link }}" method="post" class="theme-form promo__padded" id="together-payment-form">

					{{ forms.input('form_name', null, 'payment', 'hidden', false, '', null ) }}
					{{ forms.input('payment_intent_id', null, stripe_intent_id , 'hidden', false, '', null ) }}

					<fieldset>

						<legend class="promo__legend">Card Payment</legend>

						{# Stripe payment #}
						<div class="promo__field-area">
							<label for="card-element">
							Credit or debit card
							</label>
							<div id="card-element"
								data-public-key={{ stripe.pubkey }}
								data-intent-secret="{{ stripe_intent_secret }}"
								data-billing-name="{{ form_data.first_name }} {{ form_data.last_name }}"
								data-billing-email="{{ form_data.email }}"
								>
							<!-- A Stripe Element will be inserted here. -->
							</div>

							<!-- Used to display Element errors. -->
							<div id="card-errors" role="alert"></div>

							<button id="payment-button" type="submit" class="btn promo__btn">PAY £2 AND JOIN</button>

						</div>

					</fieldset>

				</form>

			</section>

		{% else %}
			{% if form_success %}
				<section class="full-width spacer--tiny promo__form">
					<p class="promo__success-title">
						Thank you for joining!
					</p>
					<div class="main-content">
						{{ page.get_field("thankyou_text") }}
					</div>
				</section>

			{% else %}
				<section class="promo__banner">

					<div class="promo__banner-content">
						<div class="promo__intro">
							<h1 class="promo__intro-title">
								{{ page.get_field("intro_heading") }}
							</h1>
							<p>
								{{ page.get_field("intro_text") }}
							</p>
							<a href="{{ page.get_field("promotions_page_link") }}" class="btn promo__btn">
								View Promotions
							</a>
						</div>

						<div class="promo__images">
							<div id="together-card-carousel">
								<img src="{{ site.theme.link }}/build/img/card-carousel/1.jpg" alt="Food and drink banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/2.jpg" alt="Food and drink banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/3.jpg" alt="Professional Services banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/4.jpg" alt="Hair and Beauty banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/5.jpg" alt="Hair and Beauty banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/6.jpg" alt="Fitness banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/7.jpg" alt="Entertainment banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/8.jpg" alt="Entertainment banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/9.jpg" alt="Nights Out banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/10.jpg" alt="Shopping banner" class="promo__img" width="380">
								<img src="{{ site.theme.link }}/build/img/card-carousel/11.jpg" alt="Shopping banner" class="promo__img" width="380">
							</div>
						</div>
					</div>

				</section>

				<section class="promo__form white-bg">

					<form action="{{ page.link }}" method="post" class="theme-form promo__padded" id="together-details-form">

						{{ forms.input('form_name', '', 'together_card', 'hidden', true, ''  ) }}

						{% if form_errors %}

							<div class="full-width spacer--tiny error--message main-content">
								<p>Please enter valid answers for the highlighted fields:</p>
								<ul>
									{% for form_error in form_errors %}
										<li>{{ form_error }}</li>
									{% endfor %}
								</ul>
							</div>

						{% endif %}

							<fieldset>

								<legend class="promo__legend">About You</legend>

								<div class="promo__field-area promo__field-area--inline">
									<div class="promo__radio-item promo__radio-item--business">
										<input id="radio_user_business" type="radio" name="user_type" value="user_business" {% if form_data.user_type == 'user_business' or form_data.user_type is empty %}checked{% endif %}>
										<label for="radio_user_business">I work in Basingstoke Town Centre</label>
									</div>
									<div class="promo__radio-item promo__radio-item--public">
										<input id="radio_user_public" type="radio" name="user_type" value="user_public" {% if form_data.user_type == 'user_public' %}checked{% endif %}>
										<label for="radio_user_public">I am a member of the general public</label>
									</div>
								</div>

								<p class="promo__info-block" data-for="public" style="display:none;">£2.00 processing and postage fee applicable for non business employees</p>

								<p class="spacer--tiny">If you work for one of our BID businesses the card is free; just register below and a member of our team will drop your card into your place of work. <br/>Not sure if you’re included in the BID area? Contact us with the name of your employer and we can check for you.</p>

								<p class="spacer--tiny">If you are a resident or visitor to Basingstoke, we will send your card in the post and a small charge of £2 will be taken upon registering.</p>

								<hr>

								<legend class="promo__legend">Your Details</legend>

								{# FIRST NAME #}
								<div class="promo__field-area">
									{{ forms.input('first_name', 'First Name', form_data.first_name, 'text', true, '',  form_errors.first_name  ) }}
								</div>

								{# LAST NAME #}
								<div class="promo__field-area">
									{{ forms.input('last_name', 'Last Name', form_data.last_name, 'text', true, '',  form_errors.last_name  ) }}
								</div>

								{# EMAIL ADDRESS #}
								<div class="promo__field-area">
									{{ forms.input('email', 'Email', form_data.email, 'email', true, '',  form_errors.email ) }}
								</div>

								<hr>

								{# BUSINESS NAME #}
								<div class="promo__field-area" data-for="business">

									<legend class="promo__legend">Your Place of Work</legend>
									<p class="spacer--tiny">You must work for a business within Basingstoke Town Centre to obtain a free card. Please <a href="mailto:James@basingstoketogether.co.uk">contact us</a> if you cannot see your business and you are within the BID area.</p>

									<label for="business_name">Choose your business</label>
									<select name="business_name" id="business_name" required>
										<option value="">--Please select your business--</option>
									{% for business in businesses %}
										<option value="{{ business['name'] }}" {% if form_data.business_name == business['name'] %}selected{% endif %}>{{ business['name'] }}</option>
									{% endfor %}
									</select>
								</div>

								{# Delivery address #}
								<div class="promo__field-area" data-for="public">

									<legend class="promo__legend">Your Address</legend>

									<div class="spacer--tiny">
										<div>
											{{ forms.input('address_line_1', 'Address Line One', form_data.address_line_1, 'text', true, '',  form_errors.address_line_1  ) }}
										</div>

										<div>
											{{ forms.input('address_line_2', 'Address Line Two', form_data.address_line_2, 'text', false, '',  form_errors.address_line_2  ) }}
										</div>

										<div>
											{{ forms.input('address_town', 'Town', form_data.address_town, 'text', true, '',  form_errors.address_town  ) }}
										</div>

										<div>
											{{ forms.input('address_postcode', 'Postcode', form_data.address_postcode, 'text', true, '',  form_errors.address_postcode, null, 8  ) }}
										</div>
									</div>
								</div>

								<hr>

								<div class="promo__field-area">
									<legend class="promo__legend">Would you like to receive Basingstoke Rewards emails?</legend>

									<div class="spacer--tiny">
										<div class="promo__checkbox-item">
											<input id="radio_email_subscribe_true" class="email-radio-subscribe-input" type="radio" name="email_subscribe" value="true" {% if form_data.email_subscribe == 'true' %}checked{% endif %}>
											<label for="radio_email_subscribe_true">Yes</label>
										</div>
										<div class="promo__checkbox-item">
											<input id="radio_email_subscribe_false" class="email-radio-subscribe-input" type="radio" name="email_subscribe" value="false" {% if form_data.email_subscribe == 'false' or form_data.email_subscribe is empty %}checked{% endif %}>
											<label for="radio_email_subscribe_false">No</label>
										</div>
									</div>


								</div>


								{# INTERESTS checkboxes #}
								<div class="promo__field-area spacer--small" id="promo_interests">
									<legend class="promo__legend">What are you interested in? <span class="promo__checkbox-title">(Tick all that apply)</span></legend>

									{% for interest in interests %}
										<div class="promo__checkbox-item">
											<input type="checkbox" name="promo_interest[]" id="{{ interest.id }}" value="{{ interest.id }}" {% if interest.id in form_data.promo_interest %}checked{% endif %}>
											<label for="{{ interest.id }}">{{ interest.label }}</label>
										</div>
									{% endfor %}

								</div>

							</fieldset>

							{# Submit #}
							<div class="spacer--tiny">
								<div class="g-recaptcha form-complete__recaptcha" data-sitekey="6LdvRBYUAAAAANHbjND7Np9jwNKG-bwYQ1UGytQh"></div>
							</div>

							<div>
								<button type="submit" class="btn promo__btn" id="promo-submit-button">JOIN NOW</button>
							</div>
					</form>
				</section>
			{% endif %}

		{% endif %}

	</main>

{% endblock %}
