{% extends "shared/base.twig" %}

{% block content %}
		
	<div class="wrapper">
		<div class="main-content">
			<iframe width="525" height="373" src="//e.issuu.com/embed.html#26720028/40259675" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

{% endblock %}