{% import 'shared/pagination.twig' as pagination_links %}

<div class="row spacer--tiny article-wrapper">

	{% if events %}
		{% for event in events %}

			{% include 'shared/event-list-item.twig' %}

		{% endfor %}
	{% endif %}

</div>


{{ pagination_links.build(pagination, 'events') }}