{% import 'shared/pagination.twig' as pagination_links %}

<div class="row spacer--small article-wrapper">

	{% if businesses %}
		{% for business in businesses %}

			{% include 'shared/business-list-item.twig' %}

		{% endfor %}
	{% endif %}

</div>

{{ pagination_links.build(pagination, 'businesses') }}