{% import 'shared/pagination.twig' as pagination_links %}

<div class="row spacer--tiny article-wrapper">

	{% if articles %}
		{% for article in articles %}

			{% include 'shared/news-list-item.twig' %}

		{% endfor %}
	{% else %}
		<p>There are currently no news articles available. Please check back later.</p>
	{% endif %}

</div>

{{ pagination_links.build(pagination, 'news articles') }}