{% import 'shared/forms.twig' as forms %}
{% import 'shared/pagination.twig' as pagination_links %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
	<head>
		<meta charset="{{site.charset}}" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta name="format-detection" content="telephone=no">
		<meta name="google-site-verification" content="wVg-K_gCOEXmtmdJfhN5i0ZJPYxlrGh0SZy_UAD0yjw" />
		<title>{{site.name}} {% if wp_title %} | {{wp_title}} {% endif %}</title>
		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="pingback" href="{{site.pingback_url}}" />
		<link rel="icon" href="{{site.theme.link}}/build/img/favicon.png" type="image/x-icon" />

		<script src="https://use.typekit.net/llr2nep.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		{{function('wp_head')}}
		<script>
			var Basingstoke = {
				ajaxURL: '{{ ajax_url }}'
			};
		</script>

		<script type="text/javascript" src="{{site.theme.link}}/js/vendor.min.js"></script>
		<script type="text/javascript" src="{{site.theme.link}}/js/base.min.js?v=1.0"></script>

		<!--[if lt IE 9]>
			<script type="text/javascript" src="{{site.theme.link}}/js/html5shiv.js"></script>
			<script type="text/javascript" src="{{site.theme.link}}/js/respond.js"></script>
		<![endif]-->

		{% block head %}
		{% endblock %}
	</head>

	<body id="heading" class="{{body_class}} {{ site_section }}">

		<!--[if lt IE 9]>
			<div class="ie">
				<p> Your browser is not fully supported. Take a look at the <a href="http://browsehappy.com/">Browse Happy Website</a> to look for better browsing alternatives.</p>
			</div>
		<![endif]-->

		<a href="#main-content" class="skip-to-content">skip to main content</a>

		{% block header %}

			<header class="site-header">

				<div class="section-dark">

					<div class="wrapper">

						<div class="site-tabs site-tabs--header">
							<a href="{{ urls.sections.home }}" class="site-tabs_tab {% if site_section == 'inbasingstoke' %}site-tabs--active{% endif %}">
								In Basingstoke
							</a>
							<a href="{{ urls.sections.together_home }}" class="site-tabs_tab {% if site_section == 'basingstoketogether' %}site-tabs--active{% endif %}">
								Basingstoke Together
							</a>
						</div>

					</div>

				</div>

				{% if site_section == 'inbasingstoke' %}

					<div class="row">

						<a href="{{ urls.sections.home }}" title="Return to homepage" class="site-logo">
							<img src="{{site.theme.link}}/build/img/in-basingstoke.svg" width="300" height="50" alt="In Basingstoke" />
						</a>

						<div class="site-search">
							<div id="search">
								<input type="text" name="s" placeholder="Search" class="site-search__form" />
								<span class="site-search__submit">
									<i class="fa fa-search"></i> <span>Search</span>
								</span>
							</div>
						</div>

					</div>

					<div class="row sm-seperator">
						<div class="site-nav-wrapper">
							<div class="wrapper mean-container">

								{% if menu.current.items %}
								<nav class="site-nav" role="navigation">
									<ul class="site-nav__top">
									{% for item in menu.current.get_items %}
										<li id="menu-item-{{item.ID}}" class="site-nav__link menu-item {{item.classes | join(' ')}}">
											<a href="{{item.get_path}}">{{item.title}}</a>
											{% if item.get_children %}
											<ul class="site-nav__sub">
												{% for subitem in item.get_children %}
													<li id="menu-item-{{subitem.ID}}" class="site-nav__link--sub {{subitem.classes | join(' ')}}">
														<a href="{{subitem.get_path}}">{{subitem.title}}</a>
														{% if subitem.get_children %}
			                                                <ul class="site-nav__subbed">
			                                                    {% for child in subitem.get_children %}
			                                                        <li id="menu-item-{{child.ID}}" class="site-nav__link--subbed {{child.classes | join(' ')}}">
			                                                            <a href="{{child.get_path}}">{{child.title}}</a>
			                                                        </li>
			                                                    {% endfor %}
			                                                </ul>
		                                                {% endif %}
													</li>
												{% endfor %}
											</ul>
											{% endif %}
										</li>
									{% endfor %}
									</ul>
								</nav>
								{% endif %}

							</div>
						</div>

						<ol class="site-social site-social--right">
							<li class="social__link--instagram social__link"><a href="{{ urls.social.instagram }}" class="fa fa-instagram external"></a></li>
							<li class="social__link--facebook social__link"><a href="{{ urls.social.facebook }}" class="fa fa-facebook external"></a></li>
							<li class="social__link--twitter social__link"><a href="{{ urls.social.twitter }}" class="fa fa-twitter external"></a></li>
						</ol>
					</div>



				{% elseif site_section == 'basingstoketogether' %}

					<div class="row basingstoke-together-header">

						<a href="{{ urls.sections.together_home }}" title="Return to homepage" class="site-logo">
							<img src="{{site.theme.link}}/build/img/basingstoke-together.svg" width="300" height="87" alt="Basingstoke Together" />
						</a>

						<div class="site-search">

							<div id="search">
								<input type="text" name="s" placeholder="Search" class="site-search__form" />
								<span class="site-search__submit">
									<i class="fa fa-search"></i> <span>Search</span>
								</span>
							</div>

							<div class="sm-seperator">
								<div class="site-nav-wrapper">
									<div class="wrapper mean-container">

										{% if menu.current.items %}
										<nav class="site-nav" role="navigation">
											<ul class="site-nav__top">
											{% for item in menu.current.get_items %}
												<li id="menu-item-{{item.ID}}" class="site-nav__link menu-item {{item.classes | join(' ')}}">
													<a href="{{item.get_path}}">{{item.title}}</a>
													{% if item.get_children %}
													<ul class="site-nav__sub">
														{% for subitem in item.get_children %}
															<li id="menu-item-{{subitem.ID}}" class="site-nav__link--sub {{subitem.classes | join(' ')}}">
																<a href="{{subitem.get_path}}">{{subitem.title}}</a>
																{% if subitem.get_children %}
				                                                <ul class="site-nav__subbed">
				                                                    {% for child in subitem.get_children %}
				                                                        <li id="menu-item-{{child.ID}}" class="site-nav__link--subbed {{child.classes | join(' ')}}">
				                                                            <a href="{{child.get_path}}">{{child.title}}</a>
				                                                        </li>
				                                                    {% endfor %}
				                                                </ul>
			                                                {% endif %}
															</li>
														{% endfor %}
													</ul>
													{% endif %}
												</li>
											{% endfor %}
											</ul>
										</nav>
										{% endif %}

									</div>
								</div>

								<ol class="site-social site-social--right">
									<li class="social__link--instagram social__link"><a href="{{ urls.social.instagram }}" class="fa fa-instagram external"></a></li>
									<li class="social__link--facebook social__link"><a href="{{ urls.social.facebook }}" class="fa fa-facebook external"></a></li>
									<li class="social__link--twitter social__link"><a href="{{ urls.social.twitter }}" class="fa fa-twitter external"></a></li>
								</ol>
							</div>

						</div>

					</div>

				{% endif %}



			</header>

		{% endblock %}

		{% block content %}
			Sorry, no content specified.
		{% endblock %}

		{% block footer %}
			<footer role="contentinfo" class="site-footer">

				<div class="wrapper">

					<div class="col-links">
						<h4>Quick Links:</h4>

						<div class="list-links">
							<p>
								<a href="{{ urls.sections.home }}" class="list-links__heading--inbasingstoke">InBasingstoke</a>
							</p>

							{% if menu.inbasingstokefooter and menu.inbasingstokefooter.items %}
								<ul>
									{% for item in menu.inbasingstokefooter.get_items %}
										<li>
											<a class="list-links__item" href="{{item.get_path}}">{{item.title}}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>

						<div class="list-links">
							<p>
								<a href="{{ urls.sections.together_home }}" class="list-links__heading--basingstoketogether">Basingstoke Together</a>
							</p>

							{% if menu.basingstoketogetherfooter and menu.basingstoketogetherfooter.items %}
								<ul>
									{% for item in menu.basingstoketogetherfooter.get_items %}
										<li>
											<a class="list-links__item" href="{{item.get_path}}">{{item.title}}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>

					</div>

					<div class="col-details">

						<h4>Get Involved:</h4>
						<p>
							<strong>Email:</strong><br>
							For bid enquiries:
							<a href="mailto:{{ urls.email }}">{{ urls.email }}</a>
						</p>
						<p>
							<strong>Telephone:</strong><br>
							01256 331010
						</p>

					</div>

					<div class="col-logo">
						<h4>Contact Us:</h4>
						<p>
							For BID information and support please contact: <a href="mailto:{{ urls.email }}">{{ urls.email }}</a>
						</p>
						<address class="site-address">
							Basingstoke Together, <br>
							4-5 Paddington House, Festival Place, <br>
							Basingstoke, RG21 7QT
						</address>
					</div>

				</div>

				{% if site_section == 'basingstoketogether' %}
				<div class="wrapper">

					<div class="footer-links__subscribe">
						<!-- Newsletter -->
				        <section class="newsletter-signup" id="newsletter_signup_form">

				            <form action="/" method="POST" class="theme-form">

				                <input type="hidden" name="action" value="newsletter_signup" />

				                {{ nonces.newsletter_signup }}

				                <div class="error--message main-content" style="display:none;">
				                    <strong>Sorry there's been a problem:</strong>
				                    <ul>
				                        {% for form_error in form_errors %}
				                            <li>{{ form_error }}</li>
				                        {% endfor %}
				                    </ul>
				                </div>

				                <div class="form-element footer-links__input">
			                        {{ forms.input('newsletter_signup_firstname', 'First Name:', form_data.newsletter_signup_firstname, 'text', true, '',  form_errors.newsletter_signup_firstname, 2, 'First Name (Mandatory)' ) }}
			                    </div>
			                    <div class="form-element footer-links__input">
			                        {{ forms.input('newsletter_signup_lastname', 'Last Name:', form_data.newsletter_signup_lastname, 'text', true, '',  form_errors.newsletter_signup_lastname, 3, 'Last Name (Mandatory)' ) }}
			                    </div>
			                    <div class="form-element footer-links__input">
			                        {{ forms.input('newsletter_signup_email', 'Email:', form_data.newsletter_signup_email, 'email', true, '',  form_errors.newsletter_signup_email, 4, 'Email (Mandatory)' ) }}
			                    </div>

				                <button type="submit" class="btn footer-links__submit">
				                    Sign up
				                </button>

				            </form>

				        </section>

					</div>

				</div>
				{% endif %}

				<div class="footer-links">

					<div class="wrapper">

						<p class="footer-links__hma">
							Carefully crafted by <a href="{{ urls.footer.hma }}" class="external" title="HMA Digital Marketing"> HMA</a>
						</p>

						<p class="footer-links__site">
							<a href="/cookie-policy/">Cookie Policy</a> <span class="pipe">|</span> <a href="/terms-use-privacy-policy/">Terms of Use &amp; Privacy Policy</a> <span class="pipe">|</span> &copy; Copyright Basingstoke Together {{"now"|date('Y')}}
						</p>

					</div>

				</div>

			</footer>

			{{ function('wp_footer') }}
		{% endblock %}

		<!-- BugHerd -->
		<script type='text/javascript'>
		(function (d, t) {
		  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
		  bh.type = 'text/javascript';
		  bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=d5f58lhx5sfijlfrx5c7bw';
		  s.parentNode.insertBefore(bh, s);
		  })(document, 'script');
		</script>

        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-86989443-1']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

	</body>

</html>
