<a href="{{ business.link(page.link) }}" class="img-banner">
	<div class="img-banner__img">
		<img src="{{ business.logo().src('business-list') }}" alt="{{ business.logo().alt }}" >
	</div>
	<div class="img-banner__content">
		<p class="img-banner__title">
			{{ business.title|length > 25 ? business.title|slice(0, 25) ~ '...' : business.title  }}
		</p>
		{% if business.display_address %}
			<p class="img-banner__text">
				{{ business.display_address|length > 47 ? business.display_address|slice(0, 47) ~ '...' : business.display_address  }}
			</p>
		{% elseif business.location and business.location.address %}
			<p class="img-banner__text">
				{{ business.location.address|length > 47 ? business.location.address|slice(0, 47) ~ '...' : business.location.address  }}
			</p>
		{% endif %}
		<span class="img-banner__icon"><i class="fa fa-arrow-down"></i></span>
	</div>
</a>