<a href="{{ event.link() }}" title="{{ event.title }}" class="banner caption spacer--grid">
	<img src="{{ event.listImage().src('list-square') }}" alt="{{ event.listImage().alt }}" class="corners">
	<div class="caption__hold purple-bg">
		<p class="caption__text">
			{{ event.list_text }}
		</p>
		<p class="caption__date">

			{{ event.start_date|date('d F') }}
		
			{% if event.multiday_event == 'yes' %} 
				- {{ event.end_date|date('d F') }}, {{ event.end_date|date('Y') }}
			{% else %}
				{{ event.start_date|date('Y') }}
			{% endif %}
		</p>
	</div>
</a>