{% macro input(name, label, value, type, required, class, error, tabindex, maxlength) %}
	{% if label %}
        <label for="{{ name }}">{{ label }}:{% if required %}*{% endif %}</label>
    {% endif %}
    <input {% if label %}id="{{ name }}"{% endif %} type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" placeholder="{{ label }} {% if required %}*{% endif %}" class="{{ class|default('') }} {% if error %}error{% endif %}" {% if tabindex %}tabindex="{{ tabindex|default(1) }}"{% endif %} {% if required %}required{% endif %} {% if maxlength %}maxlength={{ maxlength }}{% endif %} />
{% endmacro %}

{% macro select(name, label, value, options, required, class, error, tabindex) %}
	{% if label %}
		<label for="{{ name }}">{{ label }}:{% if required %}*{% endif %}</label>
	{% endif %}
    <select {% if label %}id="{{ name }}"{% endif %} name="{{ name }}" class="{{ class|default('') }}" {% if tabindex %}tabindex="{{ tabindex|default(1) }}"{% endif %} {% if required %}required{% endif %}>
    	<option value="" {% if value == '' %}selected{% endif %}>Please select...</option>

    	{% for option in options %}
    		<option value="{{ option.value }}" {% if value == option.value %}selected{% endif %}>{{ option.text }}</option>
    	{% endfor %}

    </select>
{% endmacro %}

{% macro textarea(name, label, value, required, class, error, tabindex, rows, cols) %}
    {% if label %}
        <label for="{{ name }}">{{ label }}:{% if required %}*{% endif %}</label>
    {% endif %}
    <textarea class="{{ class|default('') }} {% if error %}error{% endif %}" name="{{ name }}" rows="{{ rows|default(10) }}" cols="{{ cols|default(30) }}" placeholder="{{ label }} {% if required %}*{% endif %}" {% if tabindex %}tabindex="{{ tabindex|default(1) }}"{% endif %} {% if required %}required{% endif %}>{{ value|e }}</textarea>
    
{% endmacro %}