<a href="{{ gallery.link() }}" title="Read {{ gallery.title }}" class="banner caption spacer--grid">
	<img src="{{ TimberImage(gallery.image_list_0_image).src('list-square') }}" alt="{{ TimberImage(gallery.list_image).alt }}" class="corners">
	<div class="caption__hold">
		<p class="caption__text">
			{{ gallery.post_title }}
		</p>
		<p class="caption__date">
			{{ gallery.post_date|date('d F Y') }}
		</p>
	</div>
</a>
