<a href="{{ article.link() }}" title="Read {{ article.title }}" class="banner caption spacer--grid">
	<img src="{{ TimberImage(article.list_image).src('list-square') }}" alt="{{ TimberImage(article.list_image).alt }}" class="corners">
	<div class="caption__hold purple-bg">
		<p class="caption__text">
			{{ article.list_text }}
		</p>
		<p class="caption__date">
			{{ article.post_date|date('d F Y') }}
		</p>
	</div>
</a>