{% macro build(pagination_data, moretext) %}

	{% if pagination_data and pagination_data.pages %}

		<div class="tool-pagination">
			<nav class="pagination spacer--medium">
				<ul>
				    {% if pagination_data.prev and pagination_data.prev.link %}
				    	<li><a class="prev" href="{{pagination_data.prev.link}}">&lt;</a></li>
			        {% else %}
						<li class="pagination--disabled"><span>&lt;</span></li>
				    {% endif %}

			        {% for page in pagination_data.pages %}
			            <li>
			                {% if page.link %}
			                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
			                {% else %}
			                    <span class="{{page.class}}">{{page.title}}</span>
			                {% endif %}
			            </li>
			        {% endfor %}
				   
				    {% if pagination_data.next %}
				    	<li><a class="next" href="{{pagination_data.next.link}}">&gt;</a></li>
			        {% else %}
						<li class="pagination--disabled"><span>&gt;</span></li>
				    {% endif %}
			   	</ul>
		    </nav>

		    {% if pagination_data.next %}
			    <div class="central spacer--medium">
			    	<a href="#" title="Load more {{ moretext }}" class="btn-standard btn-load-next">Load more {{ moretext }}</a>
				</div>
			{% endif %}
		</div>
	{% endif %}

{% endmacro %}