{% if rightcol.business %}
	<a href="#" title="Latest News" class="caption spacer--tiny">
		<img src="{{site.theme.link}}/build/img/test.jpg" alt="Man with dark grey glasses" class="corners">
		<div class="caption__hold purple-bg">
			<h3 class="caption__title">Business Initiatives</h3>
			<p class="caption__text">
				Lorem ipsum dolar sit amet, consectetur adipiscing elit.
			</p>
		</div>
	</a>
{% endif %}

{% if rightcol.event %}
	<a href="/{% if site_section == 'basingstoketogether' %}basingstoke-together{% else %}in-basingstoke{% endif %}/events/" class="caption  spacer--tiny">
		<img src="{{site.theme.link}}/build/img/events.jpg" alt="Man with dark grey glasses" class="corners">
		<div class="caption__hold green-bg">
			<h3 class="caption__title">What's on</h3>
			<p class="caption__text">
				Check out the latest events.
			</p>
		</div>
	</a>
{% endif %}

{% if rightcol.latest_tweet and latest_tweet %}
	<div class="corners tweet-box tweet-box--light spacer--tiny light-grey-bg">
		<h3 class="tweet-box__title caption__title">Twitter Feed</h3>
		<span class="tweet-box__text">
			{{ latest_tweet }}
		</span>
	</div>
{% endif %}

{% if rightcol.related_links %}
	<div class="caption link-list corners spacer--tiny">
		<h3 class="link-list__title caption__title">Related Links</h3>
		<ul>
			{% for link in rightcol.related_links %}
				<li>
					<a href="{{ link.link_url }}" {% if link.is_external_link %}class="external"{% endif %}>{{ link.link_text }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
