
ul.opening-hours-day-list {
	border: 1px solid #e1e1e1;
	padding: 0;
	background-color: #f9f9f9 !important;
	border-bottom: none;
}

.opening-hours-day-list li {
	line-height: 30px;
	overflow: hidden;
	padding: 0 0 0 10px;
	margin: 0;
	border-bottom: 1px solid #e1e1e1;
}

.opening-hours-day-list li.alt {
	background: #fff;
}

.opening-hours-day-list li label.checkbox {
	float: left;
	padding: 4px 0;
	line-height: 30px;
	width: 120px;

}

.opening-hours-day-list select {
	width: 120px !important;
}

.opening-hours-day-list .from-to-range {
	display: none;
	width: 400px;
	float: left;
	margin-left: 100px;
	line-height: 36px;
}

.opening-hours-day-list li.checked .from-to-range {
	display: block;
}

.opening-hours-day-list .from-to-range .from,
.opening-hours-day-list .from-to-range .to {
	float: left;
	width: 48%;
	margin-right: 2%;
}